<section id='portContainerTwo'>
    
	<div id = 'test'>
    <div class = "about">
    
    <h2>A PROPOS DE MOI</h2>
    </div>
</div>
<div class ="descript">
<p>Mon parcours academique
en langues étrangères a évolué vers une
reconvertion professionnelle en developpement web.
Cette combinaison m’a ouvert les portes vers des
adventures extraordinaires en nourrissant ma passion
pour les voyages et les cultures du monde. 
En explorant plusieurs horizons j’ai constamment 
embrassé la diversité, une approche qui se réflète 
également dans mon parcours de développement web</p>
</div>
<section class ='aboutimg'>
<img id = "calanque"src="/images/calanques.jpeg" height="300" width="300" alt="calanques">
<img id = "vucciria" src="/images/vuc.jpg"height="300" width="300" alt="vucciria">
<img id = "palerme" src="/images/palermo_cathedral.jpeg"height="300" width="300" alt="cathedral">
</section>
</section>