
<section class='portContainer'>
	<div class='titre'>
		<hr>
		<h1>Azzurra Vittorietti</h1>
		<h2>Développeuse Web</h2>
		<hr>
		<p id='port'>Portfolio</p>
		
	</div>
	<div>
    
		<div id='scroll' >Scroll ➜</div>
       
	</div>
</section>

