@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Zetta:wght@100..900&display=swap');

body {
background-color: rgba(71, 47, 71, 0.627); ;
    color: rgb(131, 21, 94);
    font-family: 'Lexend Zetta', sans-serif;
    /* margin: 0; */
}

section {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    padding: 20px;
}

h2 {
    text-align: center;

}

form {
    background-color: rgba(62, 28, 63, 0.184);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

form input,
form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    background-color: rgba(30, 13, 31, 0.766);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}