<header>
	<div id='info'>
		<a href="#portContainerTwo">
			<div id='one'>
				A propos de moi
			</div>
		</a>
		<div id='two'>
			<p>Mes projets</p>
		</div>
		<div id='three'>
			<p>Contacts</p>
		</div>
	</div>
</header>
